<!DOCTYPE html>
<html>
<body>
<h1>About this cat:</h1>
  <table>
    <tr>
      <th>Birth date</th>
      <th>Color</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><%= @cat.birth_date %></td>
      <td><%= @cat.color %></td>
      <td><%= @cat.name %></td>
      <td><%= @cat.sex %></td>
      <td><%= @cat.description || "No description" %></td>
    </tr>
  </table>
  <br>
  <br>
  <h2>Rental Requests</h2>
  <% CatRentalRequest.where(cat_id: @cat.id).order(:start_date).each do |crr| %>
    <%= "From #{crr.start_date} to #{crr.end_date}" %>
    <br>
  <% end %>
</body>
</html>
